# To separate your traces from other application
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=...
LANGSMITH_PROJECT=medic-agent

MONGODB_URI=mongodb+srv://<username>:<password>@<URI>/?appName=<cluster_name>
MYSQL_URI=mysql+pymysql://ai_agent:ai_password@localhost:3306/hospital_db
IMAGE_NAME=medical-agent:v1.0.0